* {
  font-family: "微软雅黑", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
section .content {
  text-align: center;
}
section .content h2 {
  font-size: 15vw;
  font-weight: 900;
  line-height: 1.5em;
  /* 响应式 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background-position: fixed; */
  background-attachment: fixed;
}

section:nth-child(1) .content h2 {
  background-image: url(../images/1.png);
}
section:nth-child(2) .content h2 {
  background-image: url(../images/2.png);
}
section:nth-child(3) .content h2 {
  background-image: url(../images/3.png);
}
section:nth-child(4) .content h2 {
  background-image: url(../images/4.png);
}
section .content p {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
section .content a {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  margin-top: 20px;
}
